@font-face {
   font-family: myriadpro-regular;
   src: url(../fonts/MyriadPro-Regular.otf);
}

@font-face {
   font-family: myriadpro-semibold;
   src: url(../fonts/Myriad-Pro-Semibold_31650.ttf);
}

@font-face {
   font-family: myriadpro-semibold-italic;
   src: url(../fonts/MyriadPro-LightIt.otf);
}

@font-face {
   font-family: myriadpro-bold;
   src: url(../fonts/Myriad-Pro-Bold_31631.ttf);
}

@font-face {
   font-family: myriadpro-light;
   src: url(../fonts/MyriadPro-Light.otf);
}
*{
	font-family: 'myriadpro-regular', Arial, sans-serif;
}
/*body>div:not(.container){
	height: 0% !important;
}*/
html,body{
	width: 100%;
	height: 100%;
	margin: 0;
}
.mockup{
	display: flex;
	position: absolute;
	width: 100%;
	height: 100%;
}
.mockup img{
	object-fit: contain;
	width: 100%;
}
.flex{
	display: flex;
}
.flex-column{
	flex-direction: column;
}
.container{
	width: 100%;
	height: 100vh;
	position: relative;
	overflow: hidden;
	/*opacity: 0.4;*/
}
.adia img{
	width: 100%;
	object-fit: cover;
}
.header{
	width: 100%;
	height: 9.4vh;
}
.header h1{
	margin:0 8%;
	align-self: center;
	font-weight: normal;
	font-size: 2.48vh;
}
.show-header{
	display: flex;
	align-content: center;
	justify-content: center;
	align-items: center;
}
.header-settings{
	display: flex;
	width: 100%;
	height: 100%;
	background: white;
}
.main-screen{
	height: 92%;
	overflow: hidden;
	position: relative;
	display: flex;
	width: 500vw;
	-webkit-transform: translate3d(-20%, 0, 0);
	-moz-transform: translate3d(-20%, 0, 0);
	transform: translate3d(-20%, 0, 0);
    transition: all 200ms ease;
    will-change: transform;
    -webkit-backface-visibility: hidden;
}
.main-schedule, .main-map,.main-tracking, .main-infrared, .main-settings{
	height: 100%;
	/*position: absolute;*/
	left:0;
	width: 100vw;
}
.select-schedule{
	-webkit-transform: translate3d(0%, 0, 0);
	-moz-transform: translate3d(0%, 0, 0);
	transform: translate3d(0%, 0, 0);
}
.select-map{
	-webkit-transform: translate3d(-20%, 0, 0);
	-moz-transform: translate3d(-20%, 0, 0);
	transform: translate3d(-20%, 0, 0);
}
.select-tracking{
	-webkit-transform: translate3d(-40%, 0, 0);
	-moz-transform: translate3d(-40%, 0, 0);
	transform: translate3d(-40%, 0, 0);
}
.select-infrared{
	-webkit-transform: translate3d(-60%, 0, 0);
	-moz-transform: translate3d(-60%, 0, 0);
	transform: translate3d(-60%, 0, 0);
}
.select-settings{
	overflow-y: auto;
	-webkit-transform: translate3d(-80%, 0, 0);
	-moz-transform: translate3d(-80%, 0, 0);
	transform: translate3d(-80%, 0, 0);
}
.main-settings{
	height: auto;
    display: flex;
    flex-direction: column;
}
.main-background{
	display: flex;

}
.background-settings{
	height: 90%;
	display: flex;
	flex-direction: column;
	margin-top: 9.4vh;
}
.main-settings h2{
	margin:0 8.3%;
	align-self: center;
	font-size: 2vh;
    color: white;
    font-weight: normal;
}
.settings-block h2{
	font-size: 2.3vh;
    color: black;
    font-weight: normal;
}
.settings-block h2:not(.next-to-img){
	margin-left:19%;
	margin-right:0;
}
.sections-block{
	height: 3.9vh;
	background: #274969;
	width: 100%;
	display: flex;
	position: relative;
}
.settings-block{
	height: 7.7vh;
	display: flex;
	align-self: center;
	width: 100%;
	justify-content: space-between;
	position: relative;
}
.separator{
	position: absolute;
	margin:0 2%;
	width: 96%;
	height: 0.1vh;
	background: #e7c9e9;
	top:92%;
	z-index: 5;
	max-height: 1px;
    min-height: 1px;
}
.next-to-user{
	margin-left:8%;
	width: 8%;
	margin-right:3%;
	align-items: center;
}
.add-user, .user{
	justify-content: unset;
}
.add-user .next-to-img, .user .next-to-img{
	margin:0;
}
.threshold-name{
	background:#3b70a2;
}
.behaviour-name{
	background:#0b75d7;
}
.android-button-container{
	width: 15%;
	margin-right: 10%;
	position: relative;
	display: flex;
	align-items: center;
}
.button-check{
	display: none;
}
.android-button-space{
	width: 13.5vw;
    height: 3.42vh;
	background: gray;
	position: relative;
	align-content: center;
	align-items: center;
	border:none;
	align-self: center;
    background: #999;
    border-radius: 60px;
    transition: all 250ms ease;
    -webkit-backface-visibility: hidden;
    will-change:transform;
}
.android-button-space:before{
	width: 3.5vh;
	height: 3.5vh;
	border:none;
	border-radius: 50%;
	content: "";
    position: absolute;
    background: #fff;
    box-shadow: 2px 2px 15px #555;
    transition: all 300ms ease-in-out;
    -webkit-backface-visibility: hidden;
    will-change:transform;
    top:-3%;
 	left:-2%;
}
.button-check:checked + label{
	background:#96b9f1;
}
.button-check:checked + label:before{
	left:65%;
}
.section-staff, .section-threshold, .section-behaviour{
	width: 100%;
	align-items: flex-start;
}
.section-threshold, .section-behaviour{
	margin-top: 1%;
}
.section-behaviour{
	margin-top: 0.5%;
}
.android-text-box{
	width: 13.5vw;
    height: 4.6vh;
    border: 0.1vh solid black;
    border-radius: 11%;
    font-size: 2.3vh;
    text-align: center;
    margin-right: 15%;
    color:gray;
    max-width: 11.567vw;
}
.seconds-sign{
	font-size: 2.45vh;
}
.users-block{
	height: 100%;
	flex:1;
	width: 100%;
	align-items: flex-start;
}
.right{
	-webkit-transform: translate3d(100%, 0, 0);
	-moz-transform: translate3d(100%, 0, 0);
	transform: translate3d(100%, 0, 0);
}
.left{
	-webkit-transform: translate3d(-100%, 0, 0);
	-moz-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0);
}
.footer-bar{
	width: 100%;
	height: 8.5%;
	background: #274969;
	position: relative;
}
.selector{
	width: 20%;
	height: 100%;
	position: absolute;
	-webkit-transform: translate3d(100%, 0, 0);
	-moz-transform: translate3d(100%, 0, 0);
	transform: translate3d(100%, 0, 0);
	background: rgba(255, 255, 255, 0.20);
	transition: 500ms transform linear;
	-webkit-backface-visibility: hidden;
	will-change: transform;
}
.footer-block{
	width: 20%;
	height: 80%;
	position: relative;
}
.footer-block-img{
	width: 96%;
}
.footer-block img{
	position: relative;
	left:3%;
}

@media screen and (orientation:landscape) { 
	.footer-block img{
		object-fit: contain;
	}
	.next-to-user img{
		object-fit: contain;
		    height: 100%;
	}
}