@font-face {
   font-family: myriadpro-regular;
   src: url(../fonts/MyriadPro-Regular.otf);
}

@font-face {
   font-family: myriadpro-semibold;
   src: url(../fonts/Myriad-Pro-Semibold_31650.ttf);
}

@font-face {
   font-family: myriadpro-semibold-italic;
   src: url(../fonts/MyriadPro-LightIt.otf);
}

@font-face {
   font-family: myriadpro-bold;
   src: url(../fonts/Myriad-Pro-Bold_31631.ttf);
}

@font-face {
   font-family: myriadpro-light;
   src: url(../fonts/MyriadPro-Light.otf);
}
*{
	font-family: 'myriadpro-regular', Arial, sans-serif;
}
html,body{
	width: 100%;
	height: 100%;
	margin: 0;
}
.mockup{
	display: flex;
	position: absolute;
	width: 100%;
	height: 100%;
}
.mockup img{
	object-fit: contain;
	width: 100%;
}
.flex{
	display: flex;
}
.flex-column{
	flex-direction: column;
}
.container{
	width: 100%;
	height: 100vh;
	position: relative;
	opacity: 0.4;
}
.adia img{
	width: 100%;
	object-fit: cover;
}
.header{
	display: none;
	width: 100%;
	height: 9.4%;
	position: relative;
}
.header h1{
	margin:0 8%;
	align-self: center;
	font-weight: normal;
	font-size: 4.9vw;
}
.show-header{
	display: flex;
	align-content: center;
	justify-content: center;
	align-items: center
}
.header-settings{
	display: flex;
	width: 100%;
	height: 100%;
	background: white;
}
.main-screen{
	height: 92%;
	overflow: hidden;
	flex-wrap: wrap;
}
.settings{
	height: 82%;
}
.main-map,.main-tracking, .main-infrared, .main-settings{
	height: 100%;
	position: relative;
	display: none;
}
.main-background{
	display: flex;
	transition: 0.5s left;
}
.background-settings{
	height: 90%;
	display: flex;
	flex-direction: column;
}
.background-settings h2{
	margin:0 8.3%;
	align-self: center;
	font-size: 4.3vw;
    color: white;
    font-weight: normal;
}
.settings-block h2{
	font-size: 4.9vw;
    color: black;
    font-weight: normal;
}
.settings-block h2:not(.next-to-img){
	margin-left:19%;
}
.sections-block{
	height: 3.8vh;
	background: #274969;
	width: 100%;
	display: flex;
	position: relative;
}
.settings-block{
	height: 7.6vh;
	display: flex;
	align-self: center;
	width: 100%;
	justify-content: space-between;
	position: relative;
}
.separator{
	position: absolute;
	margin:0 2%;
	width: 96%;
	height: 0.1vh;
	background: #e7c9e9;
	top:100%;
}
.next-to-user{
	margin-left:8%;
	width: 8%;
	margin-right:3%;
	align-items: center;
}
.add-user, .user{
	justify-content: unset;
}
.add-user .next-to-img, .user .next-to-img{
	margin:0;
}
.threshold-name{
	background:#3b70a2;
}
.behaviour-name{
	background:#0b75d7;
}
.android-button-container{
	width: 15%;
	margin:0 10%;
	position: relative;
	display: flex;
}
.button-check{
	display: none;
}
.android-button-space{
	width: 90%;
	height: 50%;
	background: gray;
	position: relative;
	align-content: center;
	align-items: center;
	border:none;
	align-self: center;
    background: #999;
    border-radius: 60px;
    transition: all 250ms ease;
}
.android-button-space:before{
	width: 55%;
	height: 100%;
	border:none;
	border-radius: 50%;
	content: "";
    position: absolute;
    background: #fff;
    box-shadow: 2px 2px 15px #555;
    transition: all 300ms ease-in-out;
    top:-2%;
 	left:1%;
}
.button-check:checked + label{
	background:#96b9f1;
}
.button-check:checked + label:before{
	left:45%;
}
.section-staff, .section-threshold, .section-behaviour{
	width: 100%;
	align-items: flex-start;
}
.section-threshold, .section-behaviour{
	margin-top: 1%;
}
.section-behaviour{
	margin-top: 0.5%;
}
.users-block{
	height: 100%;
	flex:1;
	width: 100%;
	align-items: flex-start;
}
.right{
	left:100%;
}
.left{
	left:-100%;
}
.footer-bar{
	width: 100%;
	height: 8.5%;
	background: #274969;
	position: relative;
}
.selector{
	width: 20%;
	height: 100%;
	position: absolute;
	left:20%;
	background: #ffffff66;
	transition: 0.5s left;
}
.footer-block{
	width: 20%;
	height: 80%;
	position: relative;
}
.footer-block-img{
	width: 96%;
}
.footer-block img{
	position: relative;
	left:3%;
}
